@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-light {
  background-color: rgba(255, 255, 255, 0.7) !important; 
  backdrop-filter: blur(2rem);
  transition: all 0.4s linear 0s;
}

.bg-black{
  background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(2rem);
}

.home{
  height: calc(100vh - 56px);
  margin-top: 56px;
}

.banner-container {
  background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/hero/portrait_base_us__fucaqiry5e2q_small_2x.jpg");
  height: 100%;
  background-size: cover;
  background-position: center;
}

.banner-main-heading{
    font-size: 2.8rem;
}

.link{
    color: rgba(255, 77, 0, 0.901);
}

.margin-bottom{
  margin-bottom: 6.5rem;
}

#feature {
  height: calc(100vh - 56px);
}

.font-weight {
  font-weight: 550;
}

.section-main-heading {
  font-size: 2.5rem;
}

.technology-section {
  background-color: black;
}

.text-over-video-container{
  background-color: rgba(0, 0, 0, 0.111);
  backdrop-filter: blur(1px);
  position: relative;
  top: -898px;
  height: calc(100vh - 56px);
  width: 100%;
  color: white;
}

.design-first-pic {
  margin-right: -14rem;
}

.design-btn-container {
  background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/design/light_seal__fo87cv0zkcmm_small_2x.jpg");
  background-size: cover;
  height: 48vh;
  background-position: center;
}

.vr-headset-zoomed {
  background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/technology/features/sensors_chips__s805s5o3gkii_small_2x.jpg");
  background-size: cover;
  height: 70vh;
  background-position: center;
}

.margin-top-negative {
  margin-top: -8rem;
}

.custom-button-outline {
  background-color: transparent;
  color: rgba(255, 77, 0, 0.901);
  border: 2px solid rgba(255, 77, 0, 0.901);
  padding: 8px 15px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.custom-button {
  background-color: rgba(255, 77, 0, 0.901);
  color: white;
  border-width: 0;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.custom-button-white {
  background-color: white;
  color: black;
  border-width: 0;
  padding: 8px 10px;
  border-radius: 30px;
  font-size: 0.9rem;
}

.list {
  list-style-type: none;
  font-size: 0.8rem;
}

.horizontal-line {
  border: 1px solid grey;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-container{
  font-size: 0.8rem;
}

ol{
  padding-left: 1rem;
}

.accordion-item{
  border: 0;
}

.accordion-button{
  font-size: 0.8rem;
  padding: 10px 0;
}

.accordion-button:focus{
  border: 0;
  background-color: transparent;
  box-shadow: none;
}

.accordion-body{
  padding-left: 0;
}

.footer-grid-row>*{
  padding-left: 0;
}


@media screen and (min-width: 768px) {
  .banner-container {
    background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/hero/portrait_base_us__fucaqiry5e2q_medium_2x.jpg");
    width: 650px;
    margin: 0 auto;
  }

  .banner-main-heading {
    font-size: 3.6rem;
  }

  .margin-bottom{
    margin-bottom: 2.7rem;
  }

  .link{
    font-size: large;
  }

  #feature {
    height: 100vh;
  }

  .section-main-heading {
    font-size: 3.8rem;
  }

  .section-headline{
    font-size: 1.5rem;
  }

  .design-btn-container {
    margin-top: 3rem;
  height: 73vh;
  background-position: top;
}

  .vr-headset-zoomed {
    background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/technology/features/sensors_chips__s805s5o3gkii_small_2x.jpg");
    width: 100%;
    height: 74vh;
  }
}

@media screen and (min-width: 1024px){
  .banner-container{
    width: 60%;
  }

  video{
    position: sticky;
    top: 0;
    width: 100%;
    transition: width 0.5s ease-in-out;
  }

  .design-first-pic {
  margin-right: -7rem;
}

.design-btn-container{
  background-image: url("https://www.apple.com/v/apple-vision-pro/e/images/overview/design/light_seal__fo87cv0zkcmm_medium_2x.jpg");
  width: 56%;
  margin: 0 auto;
}

.vr-headset-zoomed{
  height: 100vh;
}

}

@media screen and (min-width: 2560px) {
  .vr-headset-zoomed{
    height: 38vh;
    width: 50%;
    display: block;
    margin: 25px auto 0;
  }
}